# App Environment
ENVIRONMENT=development

# Database configuration
DATABASE_URL=postgresql://resumefriendly_admin:SuperSecurePassword2026@localhost:5432/resumefriendly_db

# Security keys
JWT_SECRET_KEY=b89e9005f32a514d33a6ea2d5e7ef3a31c5520a45b84c8a24bd6436f54dbf9ee
ACCESS_TOKEN_EXPIRE_MINUTES=60

# ChromaDB
CHROMADB_HOST=localhost
CHROMADB_PORT=8000

# Storage Config
UPLOAD_DIR=./uploads
